@import "/styles/base.css";

h1 {
    font-size: 8vh;
    margin: 10px;
}

section {
    background-color: var(--main-orange);
    margin: 1em;
    padding: 5px;
    height: 80vh;
    border-radius: 10px;
}

.buttonGame {
    font-size: 3vh;
    background-color: var(--light-gray);
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    margin: 10px;
}

.buttonGame:hover {
    background-color:  var(--darker-gray);
    color: white;
}
