/*  #faa41a
    #a7a9ac
    #d9d9d9
    #ffbd59 */

section {
    background-color: #faa41a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70vh;
    padding: 5px;
}

.box {
    height: 4vmax;
    width: 8rem;
    background-color: #d9d9d9;
    border-radius: 5px;
    font-size: 0; /*Keeping text invisible.*/
}

div {
    display: flex;
    flex-direction: column;
}

button:disabled {
    background-color: greenyellow;
    color: green;
    border-color: green;
}

.returnButton {
    font-size: 3vh;
    background-color: #d9d9d9;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    margin: 10px;
}

.returnButton:hover {
    background-color: #a7a9ac;
    color: white;}

/* button:hover {
    background-color: #a7a9ac;
} */
