/*  #faa41a
    #a7a9ac
    #d9d9d9
    #ffbd59 */

section {
    background-color: #faa41a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    height: 80vh;
    border-radius: 10px;
    column-gap: 2rem;
}

.cards__left, 
.cards__right {
    display: flex;
    flex-direction: column;
}


.cards__left button,
.cards__right button {
    margin: 1px;
    padding: 5px;
    height: 6vh;
    background-color: #d9d9d9;
    font-size: 2ch;
}

.cards__left button:disabled,
.cards__right button:disabled {
    background-color: greenyellow;
    color: darkgreen;
    border-color: darkgreen;
}

.cards__left button:hover,
.cards__right button:hover {
    background-color: #a7a9ac;
}

.returnButton {
    font-size: 3vh;
    background-color: #d9d9d9;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    margin: 10px;
}

.returnButton:hover {
    background-color: #a7a9ac;
    color: white;
}

@media (max-width: 720px) {
    section {
        column-gap: 0.5rem;
    }

    .cards__left button,
    .cards__right button {
        font-size: 3vw;
    }
}

/*
.test {
    background-color: red;
    height: 80vh;
    
}

.testando {
    margin: 20px;
    padding: 5px;
    height: fit-content;
}
.testando2 {
    margin: 20px;
    padding: 5px;
    height: fit-content;