@import "./styles/base.css";

section {
    background-color: var(--main-orange);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70vh;
    padding: 5px;
}

.box {
    height: 4vmax;
    width: 8rem;
    background-color: var(--light-gray);
    border-radius: 5px;
    font-size: 0; /*Keeping text invisible.*/
}

div {
    display: flex;
    flex-direction: column;
}

button:disabled {
    background-color: greenyellow;
    color: green;
    border-color: green;
}

.returnButton {
    font-size: 3vh;
    background-color: var(--light-gray);
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    margin: 10px;
}

.returnButton:hover {
    background-color: var(--darker-gray);
    color: white;
}

